Django==4.2.23
swapper
pdfkit
django-cors-headers
django-environ
django-filter
django-widget-tweaks
django-simple-history
django-model-utils
django-auditlog
django-import-export
django-mathfilters
django-jsonfield
django-apscheduler
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
whitenoise
psycopg2-binary
python-dotenv
requests
pytz
asgiref
sqlparse
openpyxl
XlsxWriter
pillow
qrcode
bs4
html5lib
Jinja2
groq
boto3
django-storages