Django==4.2.23
psycopg2-binary
whitenoise
django-environ
django-cors-headers
django-simple-history
django-filter
django-widget-tweaks
django-mathfilters
djangorestframework
djangorestframework-simplejwt
drf-yasg
requests
python-dotenv
groq
openpyxl
pillow
python-dateutil
pytz
sqlparse
asgiref
certifi
urllib3
idna
charset-normalizer
APScheduler
django-apscheduler